# Main requirements
sentry == 7.2.0
#sentry-bitbucket == 0.1.5
#sentry-jira == 0.8.0
#sentry-hipchat == 0.6.0
# Requirements for config files
dj-database-url
# Requirements due errors when running sentry
psycopg2
